<div class="card shadow-sm">


  <ul class="list-group list-group-flush">

    {% if user.is_authenticated %}
      <li class="list-group-item">
        <div class="fw-semibold">User</div>
        <a href="{% url 'movies:user-detail' %}">
          {{ user.get_username }}
        </a>
      </li>

      <li class="list-group-item">
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger w-100">
            Log out
          </button>
        </form>
      </li>
    {% else %}
      <li class="list-group-item">
        <a href="{% url 'login' %}?next={{ request.path }}"
           class="btn btn-outline-primary w-100">
          Login
        </a>
      </li>
    {% endif %}

    <li class="list-group-item">
      <a href="{% url 'movies:movies-list' %}" class="text-decoration-none">
        🎬 Movies
      </a>
    </li>

    <li class="list-group-item">
      <a href="{% url 'movies:vote-session-list' %}" class="text-decoration-none">
        📅 Events
      </a>
    </li>

  </ul>
</div>
